.hidden{
	display: none;
}
.invisible{
	display: invisible;
}
.ru {
		display: block;
}
.en{
display:none;
}
.ui-autocomplete{
	background-color: rgba(255,255,255,0.95);
	cursor: pointer;
}
.loadeventid{
	cursor: pointer;
}
ul.ui-autocomplete{
	list-style: none;
}
.ui-helper-hidden-accessible{
	display: none;
}
.charts_container{
	position: relative;
	width: 100% /*300px*/;
	height: 100% /*300px*/;
}
.alert{
	border-radius: 0px;
}
.username{
	border-radius: 0px;
}
#chart_div{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 10;
}
#chart_div_d{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 11;
}
#chart_is_loading{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 9;
	padding-top: 15%;
	vertical-align: middle;
	text-align: center;
}
